<nav class="navbar navbar-expand-sm">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link 3</a>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <ng-template [ngIf]="!(authState | async).authenticated">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signin">Login</a>
      </li>
    </ng-template>

    <li *ngIf="(authState | async).authenticated" class="nav-item">
      <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
    </li>
  </ul>
  
</nav>